Django==3.2.18
drf-base64==2.0
django-filter
django-debug-toolbar==3.2.4
djangorestframework==3.12.4
djoser==2.1.0
python-dotenv
mixer==7.1.2
Pillow==9.5.0
requests==2.26.0
six==1.16.0
sorl-thumbnail==12.7.0
Faker==12.0.1
pycairo==1.23.0
reportlab==4.0.0
django-cors-headers==3.14.0
cffi==1.15.1
importlib-metadata==1.7.0
mccabe==0.7.0
pycodestyle==2.9.1
pyflakes==2.5.0
setuptools==47.1.0
typing_extensions==4.5.0
zipp==3.15.0
flake8==5.0.4
flake8-broken-line
flake8-return
flake8-isort
pep8-naming
gunicorn==20.0.4
asgiref==3.3.2
psycopg2-binary
